html {
    font-size: 100%;
    font-family: "Century Gothic", "Arial";
}

body {
    background-color: #0C242B;
    font-size: 2rem;
    min-width: 810px;
}

.navbar {
    height: 40px;
    background-color: #002b36;
}

.header-link {
    color: #2aa198;
    display: block;
    padding: 10px 10px;
    position: relative;
    font-size: 1.0rem;
    text-align: right;
    text-decoration: none;
    transition: .5s ease all;
}

.header-link:hover {
    text-decoration: none;
    background: #54C4BB;
}

.about-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-title-text {
    text-align: center;
    color: #fdf6e3;
    font-size: 3.3rem;
    font-family: "Century Gothic", "Arial";
}

.page-description-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.gallery-table {
    margin: 0px auto;
}

.gallery-image {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10%;
}

.project-description-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    margin-top: 5px;
}

.page-description-subtext-small {
    text-align: center;
    color: #54C4BB;
    font-size: 1.0rem;
    font-family: "Century Gothic", "Arial";
}

.button-link {
    color: #54C4BB;
    padding: 15px 25px;
    border: 3px solid #54C4BB;
    border-radius: 10px;
    transition: .5s ease all;
    font-size: 0.8rem;
    padding-right: 20px;
    padding-left: 20px;
}

.button-link:hover {
    background: #54C4BB;
    text-decoration: none;
}

.button-link-container {
    text-align: center;
    padding-top: 2%;
}

.contact-section {
    padding-top: 4%;
    padding-bottom: 1%;
}

.contact-me-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.contact-icons-table {
    margin: 0px auto;
    margin-bottom: 10px;
}

.contact-link-icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-text {
    text-align: center;
    color: #54C4BB;
    font-size: 0.8rem;
    font-family: "Century Gothic", "Arial";
    padding-top: 10px;
}