html {
    font-size: 100%;
    font-family: "Century Gothic", "Arial";
}

body {
    background-color: #0C242B;
    font-size: 2rem;
    min-width: 880px;
}

.nav {
    height: 40px;
    background-color: #002b36;
    padding-bottom: 1%;
}

.header-link {
    color: #2aa198;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.1rem;
    text-align: right;
}

.about-section {
    padding-top: 20px;
    padding-bottom: 10px;
}

.page-title-text {
    text-align: center;
    color: #fdf6e3;
    font-size: 3.5rem;
    font-family: "Century Gothic", "Arial";
}

.page-description-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
    height: auto;
}

.gallery-table {
    margin: 0px auto;
}

.gallery-image {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-image-with-text{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;

}

.gallery-section-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.5rem;
}

.gallery-section{
    padding-top: 4%;
}

.gallery-section-topmost{
    padding-top: 1%;
}

.gallery-image-subtext{
    text-align: center;
    color: #4289F0;
    font-size: 0.9rem;
}

.button-link{
    color: #54C4BB;
    padding:15px 25px;
    border:3px solid #54C4BB;
    border-radius:10px;
    transition:.5s ease all;
    font-size: 0.8rem;
    padding-right: 20px;
    padding-left: 20px;
}

.button-link:hover{
    background:#54C4BB;
}

.button-link-container{
    text-align: center;
    padding-top: 2%;
}

.contact-section {
    padding-top: 4%;
    padding-bottom: 1%;
}

.contact-me-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.contact-icons-table {
    margin: 0px auto;
    margin-bottom: 10px;
}

.contact-link-icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}