html {
    font-size: 100%;
    font-family: "Century Gothic", "Arial";
}

body {
    background-color: #0C242B;
    font-size: 2rem;
    min-width: 600px;
}

.navbar {
    height: 40px;
    background-color: #002b36;
}

.header-link {
    color: #2aa198;
    display: block;
    padding: 5px 10px;
    position: relative;
    font-size: 1.0rem;
    text-align: right;
    text-decoration: none;
    transition: .5s ease all;
}

.header-link:hover {
    text-decoration: none;
    background: #54C4BB;
}

.about-section {
    padding-top: 3%;-top: 3%;
    padding-bottom: 30px;
}

.my-name-text {
    color: #fdf6e3;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Century Gothic", "Arial";
    padding-top: 20px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 1%;
}

.about-me-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.5rem;
    font-family: "Century Gothic", "Arial";
}

.resume-section {
    padding-top: 1%;
    text-align: center;
}

.resume-button-link {
    color: #54c4bb;
    padding: 15px 30px;
    border: 3px solid #54C4BB;
    border-radius: 10px;
    transition: .5s ease all;
    font-size: 0.8rem;
}

.resume-button-link:hover {
    background: #54C4BB;
    text-decoration: none;
}

.documentation-button-link {
    color: #54C4BB;
    padding: 15px 18px;
    border: 3px solid #54C4BB;
    border-radius: 10px;
    transition: .5s ease all;
    font-size: 0.8rem;
}

.documentation-button-link:hover {
    background: #54C4BB;
    text-decoration: none;
}

.website-source-code-button-link {
    color: #54C4BB;
    padding: 15px 20px;
    border: 3px solid #54C4BB;
    border-radius: 10px;
    transition: .5s ease all;
    font-size: 0.8rem;
}

.website-source-code-button-link:hover {
    background: #54C4BB;
    text-decoration: none;
}

.button-link-container {
    padding-right: 5px;
    padding-left: 5px;
}


.projects-section {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    position: relative;
    width: 380px;
    height: 380px;
    
}

.carousel-inner img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.contact-section {
    padding-top: 2%;
}

.contact-me-text {
    padding-top: 60px;
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.contact-icons-table {
    margin: 0px auto;
    margin-bottom: 10px;
}

.contact-link-icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-text {
    text-align: center;
    color: #54C4BB;
    font-size: 0.8rem;
    font-family: "Century Gothic", "Arial";
    padding-top: 10px;
}