html {
    font-size: 100%;
    font-family: "Century Gothic", "Arial";
    font-weight: 200;
}

body {
    background-color: #0C242B;
    font-size: 2rem;
}

.nav {
    height: 35px;
    background-color: #002b36;
    padding-bottom: 15px;
}

.header-link {
    color: #2aa198;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.1rem;
    text-align: right;
}

.about-section {
    padding-top: 12%;
}

.about-content {
    padding-top: 10px;
}

.my-name-text {
    top: 7%;
    color: #fdf6e3;
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: "Century Gothic", "Arial";
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.about-me-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.resume-section{
    padding-top: 5px;
    text-align: center;
}

.download-resume-button{
    color: #54C4BB;
    padding:15px 25px;
    border:3px solid #54C4BB;
    border-radius:10px;
    transition:.5s ease all;
    font-size: 0.8rem;
    padding-right: 20px;
}

.download-resume-button:hover{
    background:#54C4BB;
}

.projects-content {
    padding-top: 2%;
    position: center;
    margin-left: 25%;
    margin-right: 25%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.project-documentation-button{
    color: #54C4BB;
    padding:15px 25px;
    border:3px solid #54C4BB;
    border-radius:10px;
    transition:.5s ease all;
    font-size: 0.8rem;
    margin-left: 25px;
}

.project-documentation-button:hover{
    background:#54C4BB;
}

.contact-section {
    padding-top: 2%;
    padding-bottom: 1%;
}

.contact-me-text {
    text-align: center;
    color: #54C4BB;
    font-size: 1.2rem;
    font-family: "Century Gothic", "Arial";
}

.contact-icons-table {
    margin: 0px auto;
}

.github-link {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.linkedin-link {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.email-link {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.google-drive-link {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}